<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cayman.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a>  -->

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        {% for item in site.data.nav %}
        <a href="{{ item.link }}" class="btn">{{ item.name }}</a>
	{% endfor %}
    </header>

    <main id="content" class="main-content" role="main">

      <section class="main-content">

      {{ content }}

      </section>


      <footer class="site-footer">

	  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a></span>

      </footer>
    </main>
  </body>
</html>
